<div class="container">
    <h1>Profiles</h1>
    <hr>
    {{#each profile}}
    <p>- {{name}} <a href="/user/profile/{{id}}" class="btn btn-dark btn-sm">Details</a></p>
    {{/each}}
    <hr>
    {{#if errorMessage}}
    <div class="errorMessage">
        {{errorMessage}}</div>
    {{/if}}
    <a href="/" class="btn btn-dark">Back</a>
</div>