body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }
a {
  color: #00b7ff;
}
h1 {
  margin: 20px;
}
p{
  margin: 20px;
}
#map {
  height: 600px;
}
button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.border{
  border-style: dotted;
}
.form-control{
  margin: 20px 0px;
}
.input-group{
  margin: 0px 30px;
}
.borde{
  border-style: solid;
  border-width: medium;
}
#mymap {
  height: 600px;
}

#markerWindows {
 text-decoration: none;
 font;: 10 px;

}