<div class="container">
    <h1>Events</h1>
    <hr>
    {{#each events}}
    <p>- {{name}}
        <a href="/event/list/{{id}}" class="btn btn-dark btn-sm">Details</a>
        <a href="/event/edit/{{id}}" class="btn btn-dark btn-sm">Edit</a>
    </p>
    {{/each}}
    <hr>
    {{#if errorMessage}}
    <div class="errorMessage">
        {{errorMessage}}</div>
    {{/if}}
    <a href="/" class="btn btn-dark">Back</a>
</div>